
$borderDefault: '0 solid #{map-get($colors, 'grey-light')}';


// Class name: .border{-side?}{-width?}
$borderWidths: (
  'default': '1px',
  '0': '0',
  '2': '2px',
  '4': '4px',
  '8': '8px',
);

$borderSides: (
  't': 'top',
  'r': 'right',
  'b': 'bottom',
  'l': 'left',
  'x': ('left', 'right'),
  'y': ('top', 'bottom'),
);


// Class name: .border-{color}
$borderColors: $colors;

// Class name: .border-{style}
$borderStyles: (
'solid', 'dashed', 'dotted', 'none'
);

// Class name: .rounded{-side?}{-size?}
$borderRadius: (
  'none': '0',
  'sm': '.125rem',
  default: '.25rem',
  'lg': '.5rem',
  'full': '9999px',
);
