

$borderDefault: '0 solid #{color('grey-light')}';
* { border: #{$borderDefault}; }

// ========================================================
// Border width classes
// Format: ({key}: {value}, …)
// Class: .border-{key} { border-width: {value} }
// Default holds value for class without width key: .border { … }
$borderWidths: (
  'default': '1px',
  '0': '0',
  '2': '2px',
  '4': '4px',
  '8': '8px',
);

// Border side modifiers
// Generate more border width classes
// Format: ({key}: {value}, …)
// Class: .border{-key?}{-widthKey?} { {value}: {widthValue} }
// If {value} is a list will print all variations with same {widthValue}
// Default holds value for class without modifier key: .border{-widthKey?} { … }
$borderWidthProperties: (
  'default': 'border-width',
  't': 'border-top-width',
  'r': 'border-right-width',
  'b': 'border-bottom-width',
  'l': 'border-left-width',
  'x': ('border-left-width', 'border-right-width'),
  'y': ('border-top-width', 'border-bottom-width'),
);

// Variants for border width
// Customize: define new list of variants
// See config/variants.scss file for details
$borderWidthVariants: ();


// ========================================================
// Border color classes
// Format: ({key}: {value}, …)
// Class: .border-{key} { border-color: {value} }
$borderColors: $colors;

// Variants for border color
// Customize: define new list of variants
// See config/variants.scss file for details
$borderColorVariants: $defaultVariants;


// ========================================================
// Border style classes
// Format: ({key}: {value}, …)
// Class: .border-{key} { border-style: {value} }
$borderStyles: (
  'solid': 'solid',
  'dashed': 'dashed',
  'dotted': 'dotted',
  'none': 'none',
);

// Variants for border style
// Customize: define new list of variants
// See config/variants.scss file for details
$borderStyleVariants: ();


// ========================================================
// Border radius classes
// Format: ({key}: {value}, …)
// Class: .rounded{-key?} { border-radius: {value} }
// Default holds value for class without radius key: .rounded { … }
$borderRadius: (
  'default': '.25rem',
  'none': '0',
  'sm': '.125rem',
  'lg': '.5rem',
  'xl': '1rem',
  'full': '9999px',
);

// Border radius modifiers
// Generate more border radius classes
// Format: ({key}: {value}, …)
// Class: .rounded{-key?}{-radiusKey?} { {value}: {radiusValue} }
// If {value} is a list will print all variations with same {radiusValue}
// Default holds value for class without modifier key: .rounded{-radiusKey?} { … }
$borderRadiusProperties: (
  'default': 'border-radius',
  't': ('border-top-left-radius', 'border-top-right-radius'),
  'r': ('border-top-right-radius', 'border-bottom-right-radius'),
  'b': ('border-bottom-left-radius', 'border-bottom-right-radius'),
  'l': ('border-top-left-radius', 'border-bottom-right-radius'),
  'tl': 'border-top-left-radius',
  'tr': 'border-top-right-radius',
  'br': 'border-bottom-right-radius',
  'bl': 'border-bottom-left-radius',
);

// Variants for border radius
// Customize: define new list of variants
// See config/variants.scss file for details
$borderRadiusVariants: ();
