
// ========================================================
// Display classes
// Format: ({key}: {value}, …)
// Class: .{key} { display: {value} }
// Notice there's no base class, base is '' (empty string)
// so we get .block instead of .display-block

$displays: (
  'flex': 'flex',
  // 'inline-flex': 'inline-flex',
  'block': 'block',
  'inline': 'inline',
  'inline-block': 'inline-block',
  // 'table': 'table',
  // 'table-row': 'table-row',
  // 'table-cell': 'table-cell',
  'hidden': 'none',
);

// Variants for display
// Customize: define new list of variants
// See config/variants.scss file for details
$displayVariants: $defaultVariants;


// ========================================================
// Flex direction classes
// Format: ({key}: {value}, …)
// Class: .flex-{key} { flex-direction: {value} }
$flexDirections: (
  'row': 'row',
  'row-reverse': 'row-reverse',
  'col': 'column',
  'col-reverse': 'column-reverse'
);

// Variants for flex direction
// Customize: define new list of variants
// See config/variants.scss file for details
$flexDirectionVariants: $defaultVariants;


// ========================================================
// Flex wrap classes
// Format: ({key}: {value}, …)
// Class: .flex-{key} { flex-wrap: {value} }
$flexWraps: (
  'wrap': 'wrap',
  'wrap-reverse': 'wrap-reverse',
  'no-wrap': 'nowrap',
);

// Variants for flex wrap
// Customize: define new list of variants
// See config/variants.scss file for details
$flexWrapVariants: $defaultVariants;


// ========================================================
// Flex align-items classes
// Format: ({key}: {value}, …)
// Class: .items-{key} { align-items: {value} }
$flexAlignItems: (
  'start': 'flex-start',
  'end': 'flex-end',
  'center': 'center',
  'baseline': 'baseline',
  'stretch': 'stretch',
);

// Variants for flex align-items
// Customize: define new list of variants
// See config/variants.scss file for details
$flexAlignItemsVariants: $defaultVariants;


// ========================================================
// Flex align-self classes
// Format: ({key}: {value}, …)
// Class: .self-{key} { align-self: {value} }
$flexAlignSelfs: (
  'auto': 'auto',
  'start': 'flex-start',
  'end': 'flex-end',
  'center': 'center',
  'stretch': 'stretch',
);

// Variants for flex align-self
// Customize: define new list of variants
// See config/variants.scss file for details
$flexAlignSelfVariants: $defaultVariants;


// ========================================================
// Flex justify-content classes
// Format: ({key}: {value}, …)
// Class: .justify-{key} { justify-content: {value} }
$flexJustifyContents: (
  'start': 'flex-start',
  'end': 'flex-end',
  'center': 'center',
  'between': 'space-between',
  'around': 'space-around',
);

// Variants for flex justify-content
// Customize: define new list of variants
// See config/variants.scss file for details
$flexJustifyContentVariants: $defaultVariants;


// ========================================================
// Flex align-content classes
// Format: ({key}: {value}, …)
// Class: .content-{key} { align-content: {value} }
$flexAlignContents: (
  'center': 'center',
  'start': 'flex-start',
  'end': 'flex-end',
  'between': 'space-between',
  'around': 'space-around',
);

// Variants for flex align-content
// Customize: define new list of variants
// See config/variants.scss file for details
$flexAlignContentVariants: $defaultVariants;


// ========================================================
// Flex size classes
// Format: ({key}: {value}, …)
// Class: .flex-{key} { flex: {value} }
$flexSizes: (
  '1': '1',
  'auto': 'auto',
  'initial': 'initial',
  'none': 'none',
);

// Variants for flex size
// Customize: define new list of variants
// See config/variants.scss file for details
$flexSizeVariants: $defaultVariants;


// ========================================================
// Flex grow classes
// Format: ({key}: {value}, …)
// Class: .flex-{key} { flex-grow: {value} }
$flexGrows: (
  'grow': '1',
  'no-grow': '0',
);

// Variants for flex grow
// Customize: define new list of variants
// See config/variants.scss file for details
$flexGrowVariants: $defaultVariants;


// ========================================================
// Flex shrink classes
// Format: ({key}: {value}, …)
// Class: .flex-{key} { flex-shrink: {value} }
$flexShrinks: (
  'shrink': '1',
  'no-shrink': '0',
);

// Variants for flex shrink
// Customize: define new list of variants
// See config/variants.scss file for details
$flexShrinkVariants: $defaultVariants;


// ========================================================
// Visibility classes
// Format: ({key}: {value}, …)
// Class: .{key} { visibility: {value} }
$visibilities: (
  'visible': 'visible',
  'invisible': 'invisible',
);

// Variants for visibility
// Customize: define new list of variants
// See config/variants.scss file for details
$visibilityVariants: $defaultVariants;
