// ========================================================
// Width classes
// Format: ({key}: {value}, …)
// Class: .w-{key} { width: {value} }
$widths: (
  'auto': 'auto',
  'px': '1px',
  '1': '0.25rem',
  '2': '0.5rem',
  '3': '0.75rem',
  '4': '1rem',
  '5': '1.25rem',
  '6': '1.5rem',
  '8': '2rem',
  '10': '2.5rem',
  '12': '3rem',
  '16': '4rem',
  '24': '6rem',
  '32': '8rem',
  '48': '12rem',
  '64': '16rem',
  'half': '50%',
  'third': '33.33333%',
  // '2/3': '66.66667%',
  'fourth': '25%',
  // '3/4': '75%',
  'fifth': '20%',
  // '2/5': '40%',
  // '3/5': '60%',
  // '4/5': '80%',
  'sixth': '16.66667%',
  // '5/6': '83.33333%',
  'full': '100%',
  'screen': '100vw',
);

// Variants for width
// Customize: define new list of variants
// See config/variants.scss file for details
$widthVariants: $defaultVariants;


// ========================================================
// Height classes
// Format: ({key}: {value}, …)
// Class: .h-{key} { height: {value} }
$heights: (
  'auto': 'auto',
  'px': '1px',
  '1': '0.25rem',
  '2': '0.5rem',
  '3': '0.75rem',
  '4': '1rem',
  '5': '1.25rem',
  '6': '1.5rem',
  '8': '2rem',
  '10': '2.5rem',
  '12': '3rem',
  '16': '4rem',
  '24': '6rem',
  '32': '8rem',
  '48': '12rem',
  '64': '16rem',
  'full': '100%',
  'screen': '100vh',
);

// Variants for height
// Customize: define new list of variants
// See config/variants.scss file for details
$heightVariants: $defaultVariants;


// ========================================================
// Min-width classes
// Format: ({key}: {value}, …)
// Class: .min-w-{key} { min-width: {value} }
$minWidths: (
  '0': '0',
  'full': '100%',
);

// Variants for min-width
// Customize: define new list of variants
// See config/variants.scss file for details
$minWidthVariants: $defaultVariants;


// ========================================================
// Min-height classes
// Format: ({key}: {value}, …)
// Class: .min-h-{key} { min-height: {value} }
$minHeights: (
  '0': '0',
  'full': '100%',
  'screen': '100vh',
);

// Variants for min-height
// Customize: define new list of variants
// See config/variants.scss file for details
$minHeightVariants: $defaultVariants;


// ========================================================
// Max-width classes
// Format: ({key}: {value}, …)
// Class: .max-w-{key} { max-width: {value} }
$maxWidths: (
  'xs': '20rem',
  'sm': '30rem',
  'md': '40rem',
  'lg': '50rem',
  'xl': '60rem',
  '2xl': '70rem',
  '3xl': '80rem',
  '4xl': '90rem',
  '5xl': '100rem',
  'full': '100%',
);

// Variants for max-width
// Customize: define new list of variants
// See config/variants.scss file for details
$maxWidthVariants: $defaultVariants;


// ========================================================
// Max-height classes
// Format: ({key}: {value}, …)
// Class: .max-h-{key} { max-height: {value} }
$maxHeights: (
  'full': '100%',
  'screen': '100vh',
);

// Variants for max-height
// Customize: define new list of variants
// See config/variants.scss file for details
$maxHeightVariants: $defaultVariants;
