
// ========================================================
// Text color classes
// Format: ({key}: {value}, …)
// Class: .text-{key} { color: {value} }
// Default: $colors
$textColors: $colors;

// Variants for text color
// Customize: define new list of variants
// See config/variants.scss file for details
$textColorVariants: $defaultVariants;


// ========================================================
// Font family classes
// Format: ({key}: {value}, …)
// Class: .font-{key} { font-family: {value} }
$fonts: (
  'sans': "'system-ui', 'BlinkMacSystemFont', '-apple-system', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'sans-serif'",
  'serif': "'Constantia', 'Lucida Bright', 'Lucidabright', 'Lucida Serif', 'Lucida', 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', 'Georgia', 'serif'",
  'mono':  "'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', 'monospace'"
);

// Variants for font family
// Customize: define new list of variants
// See config/variants.scss file for details
$fontFamilyVariants: ();


// ========================================================
// Text size classes
// Format: ({key}: {value}, …)
// Class: .text-{key} { font-size: {value} }
$textSizes: (
  'xs': '.75rem',     // 12px
  'sm': '.875rem',    // 14px
  'base': '1rem',     // 16px
  'lg': '1.125rem',   // 18px
  'xl': '1.25rem',    // 20px
  '2xl': '1.5rem',    // 24px
  '3xl': '1.875rem',  // 30px
  '4xl': '2.25rem',   // 36px
  '5xl': '3rem',      // 48px
);

// Variants for font size
// Customize: define new list of variants
// See config/variants.scss file for details
$fontSizeVariants: $defaultVariants;


// ========================================================
// Font weight classes
// Format: ({key}: {value}, …)
// Class: .font-{key} { font-weight: {value} }
$fontWeights: (
  'hairline': 100,
  'thin': 200,
  'light': 300,
  'normal': 400,
  'medium': 500,
  'semibold': 600,
  'bold': 700,
  'extrabold': 800,
  'black': 900,
);

// Variants for font weight
// Customize: define new list of variants
// See config/variants.scss file for details
$fontWeightVariants: $defaultVariants;


// ========================================================
// Leading classes (line-height)
// Format: ({key}: {value}, …)
// Class: .leading-{key} { line-height: {value} }
$leading: (
  'none': 1,
  'tight': 1.25,
  'normal': 1.5,
  'loose': 2,
);

// Variants for text leading (line-height)
// Customize: define new list of variants
// See config/variants.scss file for details
$leadingVariants: $defaultVariants;


// ========================================================
// Tracking classes (letter-spacing)
// Format: ({key}: {value}, …)
// Class: .tracking-{key} { letter-spacing: {value} }
$tracking: (
  'tight': '-0.05em',
  'normal': '0',
  'wide': '0.05em',
);

// Variants for text tracking (letter-spacing)
// Customize: define new list of variants
// See config/variants.scss file for details
$trackingVariants: $defaultVariants;


// ========================================================
// Text style classes
// Format: ({key}: {value}, …)
// Class: .{key} { font-style: {value} }
$textStyles: (
  'italic': 'italic',
  'roman': 'normal',
);

// Variants for text style
// Customize: define new list of variants
// See config/variants.scss file for details
$textStyleVariants: $defaultVariants;


// ========================================================
// Text transform classes
// Format: ({key}: {value}, …)
// Class: .{key} { text-transform: {value} }
$textTransforms: (
  'uppercase': 'uppsercase',
  'lowercase': 'lowercase',
  'capitalize': 'capitalize',
  'normal-case': 'none',
);

// Variants for text style
// Customize: define new list of variants
// See config/variants.scss file for details
$textTransformVariants: $defaultVariants;


// ========================================================
// Text decoration classes
// Format: ({key}: {value}, …)
// Class: .{key} { text-decoration: {value} }
$textDecorations: (
  'underline': 'underline',
  'line-through': 'line-through',
  'no-underline': 'none',
);

// Variants for text decoration
// Customize: define new list of variants
// See config/variants.scss file for details
$textDecorationVariants: $defaultVariants;


// ========================================================
// font smoothing classes (text antialias)
// Format: ({key}: {value}, …)
// Class: .{key} { font-smoothing: {value} }
$fontSmoothings: (
  'antialiased': 'antialiased',
  'subpixel-antialiased': 'auto',
);

// Variants for font smoothing
// Customize: define new list of variants
// See config/variants.scss file for details
$fontSmoothingVariants: $defaultVariants;


// ========================================================
// Text align classes
// Format: ({key}: {value}, …)
// Class: .text-{key} { text-align: {value} }
$textAligns: (
  'left': 'left',
  'center': 'center',
  'right': 'right',
  'justify': 'justify',
);

// Variants for text align
// Customize: define new list of variants
// See config/variants.scss file for details
$textAlignVariants: $defaultVariants;


// ========================================================
// font smoothing classes (text antialias)
// Format: ({key}: {value}, …)
// Class: .{key} { font-smoothing: {value} }
$fontSmoothings: (
  'antialiased': 'antialiased',
  'subpixel-antialiased': 'auto',
);

// Variants for font smoothing
// Customize: define new list of variants
// See config/variants.scss file for details
$fontSmoothingVariants: $defaultVariants;


// ========================================================
// Text vertical align classes
// Format: ({key}: {value}, …)
// Class: .align-{key} { text-align: {value} }
$textVerticalAligns: (
  'baseline': 'baseline',
  'top': 'top',
  'middle': 'middle',
  'bottom': 'bottom',
  'text-top': 'text-top',
  'text-bottom': 'text-bottom',
);

// Variants for text vertical align
// Customize: define new list of variants
// See config/variants.scss file for details
$textVerticalAlignVariants: $defaultVariants;


// ========================================================
// Text whitespace align classes
// Format: ({key}: {value}, …)
// Class: .whitespace-{key} { text-align: {value} }
$whiteSpaces: (
  'normal': 'normal',
  'no-wrap': 'nowrap',
  'pre': 'pre',
  'pre-line': 'pre-line',
  'pre-wrap': 'pre-wrap',
);

// Variants for text whitespace
// Customize: define new list of variants
// See config/variants.scss file for details
$whiteSpaceVariants: $defaultVariants;


// ========================================================
// Text break classes
// Format: ({key}: {value}, …)
// Class: .break-{key} { word-wrap: {value} }
$textBreaks: (
  'words': 'break-words',
  'normal': 'normal',
);

// Variants for text break
// Customize: define new list of variants
// See config/variants.scss file for details
$textBreakVariants: $defaultVariants;
